input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }

  .container{
    display: grid;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: rgb(250, 250, 250);
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 400px!important;
    border: 1px dashed #d9d9d9;
  }

  /* Style for the file input's label when a file is selected */
  input[type="file"]:not(:empty) + .container {
    background-color: #2ecc71;
  }

  .uploader-content {
    margin: 10px 0;
    justify-self: center;
  }
